/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
}
nav {
  display: none;
}
nav nav a {
  color: #FFFFFF;
}
h1 {
  color: #FFFFFF;
  font-size: 2.6rem;
}
h2 {
  font-size: 3rem;
  padding: 10px;
}
span {
  border: 1px solid black;
  background: #D8D8D8;
  margin-bottom: 100px;
  padding: 20px 30px;
  width: 400px;
  position: absolute;
  bottom: 0;
}
footer {
  background: #828282;
  color: #FFFFFF;
  padding: 40px;
  display: flex;
}
.container {
  margin: 0 auto;
  width: 1024px;
}
.main-container {
  position: relative;
}
.main-container .statement {
  position: absolute;
  color: white;
  font-size: 5.4rem;
  bottom: 40px;
  left: 50px;
}
.top-bar {
  background: #98A2AD;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
}
.top-section {
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px 0;
}
.top-section .top-content {
  margin: 10px;
  width: 47%;
}
.top-section .top-content p {
  font-size: 1.6rem;
  padding: 10px;
}
.top-section .top-content button {
  background: #FFFFFF;
  border: 1px solid #222222;
  margin: 10px;
  padding: 10px 20px;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
.bottom-section .bottom-content {
  padding: 100px 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.bottom-section .bottom-content .bottom-img {
  width: 100%;
}
