.imgBlock {
  background: #D8D8D8;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 6px;
  margin-bottom: 200px;
  padding: 30px 30px;
  text-align: center;
  width: 270px;
  position: absolute;
  top: 70%;
  right: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background: #FFFFFF;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
}
.container {
  margin: 0 auto;
  width: 1024px;
}
p {
  font-size: 1.6rem;
}
.top-bar {
  background: #98A2AD;
  padding: 15px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
}
.top-bar h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0 20px;
}
.top-bar .menu {
  display: none;
  position: fixed;
  top: 1px;
  height: 100vh;
  background-color: lightgray;
  color: #FFFFFF;
  opacity: 0.9;
  z-index: 1;
  padding-top: 15%;
  width: 100vw;
}
.top-bar .menu-open {
  display: block;
}
.top-bar a {
  list-style-type: none;
  font-size: 4.8rem;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
  line-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.top-bar a:hover {
  color: #FFFFFF;
}
#menu-button {
  cursor: pointer;
  z-index: 2;
}
.container {
  margin: 0 auto;
}
h1 {
  z-index: 2;
}
.jumbotron-container {
  position: relative;
  width: 100%;
}
.jumbotron-container .statement {
  position: absolute;
  color: #FFFFFF;
  font-size: 6.4rem;
  font-weight: bold;
  bottom: 40px;
  left: 50px;
  line-height: 75px;
}
.top-section {
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px 0;
}
.top-section .top-content {
  margin: 10px 0;
  width: 47%;
}
.top-section .top-content h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
  padding-top: 50px;
}
.top-section .top-content p {
  font-size: 1.6rem;
  padding: 20px 25px 15px 0;
}
.top-section .top-content button {
  background: #FFFFFF;
  border: 1px solid #222222;
  margin: 10px 0;
  padding: 10px 20px;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
.bottom-section h3 {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 20px 0 50px 0;
}
.bottom-section .bottom-content {
  padding: 100px 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.bottom-section .bottom-content .bottom-img {
  width: 100%;
}
#bot-img-1 {
  background-image: url('/img/home/home-villas-img.png');
  background-size: 1024px 230px;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 1024px;
  position: relative;
}
#bot-img-1 .image-block {
  background: #D8D8D8;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 6px;
  margin-bottom: 200px;
  padding: 30px 30px;
  text-align: center;
  width: 270px;
  position: absolute;
  top: 70%;
  right: 0;
}
#bot-img-2 {
  background-image: url('/img/home/home-outskirts-img.png');
  background-size: 1024px 230px;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 1024px;
  position: relative;
}
#bot-img-2 .image-block {
  background: #D8D8D8;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 6px;
  margin-bottom: 200px;
  padding: 30px 30px;
  text-align: center;
  width: 270px;
  position: absolute;
  top: 70%;
  right: 0;
}
#bot-img-3 {
  background-image: url('/img/home/home-the-blocks-img.png');
  background-size: 1024px 230px;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 1024px;
  position: relative;
}
#bot-img-3 .image-block {
  background: #D8D8D8;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 6px;
  margin-bottom: 200px;
  padding: 30px 30px;
  text-align: center;
  width: 270px;
  position: absolute;
  top: 70%;
  right: 0;
}
footer {
  background: #828282;
  color: #FFFFFF;
  line-height: 24px;
}
footer h5 {
  text-align: center;
}
footer .footer-content {
  display: flex;
}
footer .footer-content .location {
  padding: 35px;
}
footer .footer-content .location h4 {
  font-size: 20px;
  line-height: 2.4rem;
  color: #FFFFFF;
  font-weight: bold;
}
footer .footer-content .location p {
  font-size: 1.4rem;
  line-height: 26px;
}
footer .footer-content .location input {
  color: gray;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}
.service-container {
  font-size: 1.6rem;
  padding: 50px 80px;
}
.service-container .service {
  font-weight: bold;
  font-size: 2.4rem;
}
.service-container .tabs-link-selected {
  display: block;
}
.service-container .service-main {
  border: 1px solid red;
  font-weight: normal;
  display: flex;
  padding: 20px 0;
}
.service-tabs {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.service-tabs .service-tab {
  background: #FFFFFF;
  border: 1px solid #222222;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 20px;
}
.service-tabs .service-tab:hover {
  background: #222222;
  color: #FFF;
}
.service-tab-selected {
  background: #5E9FB9;
}
