.menu-button {
    position: absolute;
    cursor: pointer;
}

.menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    color: #FFFFFF;
    z-index: 1;

    &:hover {
        color: #222222;
    }
}

.menu a {
    list-style-type: none;
    font-size: 4.8rem;
    text-align: center;
}

.menu--open {
    display: block;
}