.botImg(@image) {
  background-image: @image;
  background-size: 1024px 230px;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 1024px;
  position: relative;
}

.imgBlock {
  background: #D8D8D8;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 6px;
  margin-bottom: 200px;
  padding: 30px 30px;
  text-align: center;
  width: 270px;
  position: absolute;
  top: 70%;
  right: 0;
  }