// services

.service-container {
    font-size: 1.6rem;
    padding: 50px 80px;

    .service {
        font-weight: bold;
        font-size: 2.4rem;
    }

    .tabs-link {
        // display: none;
    }

    .tabs-link-selected {
        display: block;
    }

    .service-main {
        border: 1px solid red;
        font-weight: normal;
        display: flex;
        padding: 20px 0;
    }

    .tabs-items {
        // display: none;
    }
}

.service-tabs {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    .service-tab {
        background: #FFFFFF;
        border: 1px solid #222222;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 10px 20px;

        &:hover {
            background: #222222;
            color: #FFF;
        }
    } 
}
.service-tab-selected {
    background: #5E9FB9;
}